#nodes-list{
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  text-align: right;
  padding: 0;
}

#nodes-list li{
  line-height: 50px;
  list-style-type: none;
  padding: 0 30px;
  background-color: #ddd;
  border-bottom: 1px #CCC solid;
}

#nodes-list a{
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#nodes-list a:hover{
  text-decoration: underline;
}

#nodes-list li:first-child{
  background-color: #d6d6d6;
  position: fixed
}

#nodes-list input{
  width:100%;
  text-align: right;
  font-size: 20px;
  padding: 2px 5px;
}

#content {
  position: fixed;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-right: 300px;
  overflow: auto
}

#content h1{
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

#content h1 a{
  color:#ddd;
  text-decoration: none;
  font-size: 18px
}

#content h1 a:hover{
  color:#bbb;
  text-decoration: underline;
}

.timetable {
  border: 15px #F6F6F6 solid;
  display: inline-block;
  position: relative;
  margin: 5px;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  width: 100%
}

.connection{
  margin: 10px
}

.direction{
  text-align: center;
  margin-bottom: 20px
}

.outE .connection .outV, .inE .connection .inV {
  display: none
}

.outE .connection h3:before{
  content: "\2192"
}

.inE .connection h3:before{
  content: "\2190"
}

.welcome{
  margin: 100px;
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  width: 600px;
  text-align: justify
}

.welcome p{
  text-align: center
}

.welcome input[type="text"]{
  padding: 10px;
  width: 400px;
  margin: 30px 0;
}

.welcome input[type="button"]{
  margin: 0;
  height: 40px
}

a[rel="me"]{
  color: gray;
  text-decoration: none;
}

a[rel="me"]:hover{
  text-decoration: underline
}
